body {
  background-color: white;
}

.mainDiv {
  height: 100vh;
  background: url("https://res.cloudinary.com/wonderwoman/image/upload/v1680913378/images/Image_xkotdg.png") no-repeat;
  background-size: cover;
}

.historyDiv {
  height: 100vh;
  padding-bottom: 24px;
}

.navbar-nav {
  margin-right: 20%;
}

.nav-item {
  margin-right: 20px;

}
.nav-link {
  color: #fff;
  font-family: latoblack_italic;
  font-style: italic;
  font-weight: bold;
  font-size: 12px;
  text-decoration: underline;
  text-transform: uppercase;
}
.navbar-brand {
  margin-left: 20%;
}

.navbar-brand img {
  width: auto;
}

.history-nav .nav-link {
  color: #414f6b;
}

.historybody {
  background: url("https://res.cloudinary.com/wonderwoman/image/upload/v1680901899/images/Bg-2_nxokgc.png") no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}

.carouselContainer {
  background: url("https://res.cloudinary.com/wonderwoman/image/upload/v1680901860/images/accordion-bg_l5zult.png") no-repeat;
  background-size: cover;
  padding: 1% 19%;
  border: transparent;
}

.historyText {
  font-size: 14px;
  color: #000000;
  font-weight: 400;
  line-height: 1.5;
  text-align: justify;
  height: 70vh;
  padding: 0 20%;
}

.teamDiv {
  height: 100vh;
}

.teamRow {
  padding: 0 20%;
  border: transparent;
}

.teamRow p {
  padding: 6% 20%;
}

.teamList {
  background-color: #414f6b;
  list-style: none;
  padding: 0 20%;
}

.teamList li {
  display: inline;
  padding: 0 1rem;
  font-family: oswald;
  font-size: 20px;
  font-weight: bold;
}

.teamList .li-1 {
  background-color: #b0b4be;
  color: #414f6b;
}

.teamList .li-2 {
  color: #b0b4be;
  text-decoration: none;
}

.teamBody {
  background: url("https://res.cloudinary.com/wonderwoman/image/upload/v1680901978/images/bg-3_ba0cl0.png") no-repeat;
  background-size: cover;
  height: 37rem;
}

.teamSchedule {
  padding: 0 20%;
}

.scheduleDiv {
  background-color: #fff;
  width: 50%;
  padding: 2% 6%;
  opacity: 70%;
  margin: 30% 0 0 0
}

.teamSchedule h1 {
  font-family: oswald;
  font-size: 32px;
  font-weight: bold;
  color: 414f6b;
}

.teamSchedule span {
  font-family: lato;
  font-size: 16px;
}

footer {
  background-color: #414f6b;
  padding: 1% 20%;
  height: 62px;
}

footer p {
  color: #63769d;
  font-family: latoblack_italic;
  font-size: 12px;
  font-style: italic;
}